
@{
    ViewBag.Title = "TermsAndConditions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container" style="padding-top: 20px;">

        <h3><b>Customer must be at least 16 years old with valid document</b></h3>
        <hr />
        <h4>Payment and Deposit:</h4>
        <br />
        1.&nbsp;&nbsp; &nbsp;Payment for the bike rental need to be done in advance.
        <br />
        2.&nbsp;&nbsp; &nbsp;Customer can choose some membership card and get discount on rental price:
        <br />
        &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;a. Platinum card - 50% discount
        <br />
        &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;b. Gold card &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;- 40% discount
        <br />
        &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;c. Silver card &nbsp; &nbsp; &nbsp; &nbsp;- 30% discount
        <br />
        &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;d. Bronze card &nbsp; &nbsp;- 20% discount
        <br />
        3.&nbsp;&nbsp; &nbsp;A deposit is needed for each bike. The deposit consists of a photocopy of a valid ID and €20 (to be paid in cash or with a debit/credit card).
        <br />
        4.&nbsp;&nbsp; &nbsp;The deposit will be paid back in cash as soon as the bicycle is returned. In the event of damage for Rent A Bike, the amount charged for the damage will be subtracted from the deposit.
        <br />
        <br />

        <h4>Obligations for the customer:</h4>
        <br />
        1.&nbsp;&nbsp; &nbsp;Customer must treat the bicycle well and in accordance with its actual purpose.
        <br />
        2.&nbsp;&nbsp; &nbsp;Customer must return the bicycle to Rent A Bike in its original condition. Any changes or additions by or on behalf of the customer must be undone.
        <br />
        3.&nbsp;&nbsp; &nbsp;The customer must return the bicycle in a clean condition. Cleaning costs with a minimum of €10 may be charged.
        <br />
        4.&nbsp;&nbsp; &nbsp;The customer must obey all traffic laws and instructions from Rent A Bike staff.
        <br />
        5.&nbsp;&nbsp; &nbsp;Customers must bring a copy of the contract with them upon returning the bike.
        <br />
        6.  Each bike is equipped with two locks. Customers must never leave the bicycle unattended unless properly locked. Rent A Bike staff will demonstrate correct use of the locks.
        <br />
        <br />

        <h4>Obligations for Rent A Bike:</h4>
        <br />
        1.&nbsp;&nbsp; &nbsp;Rent A Bike provides a bicycle with the statutory and agreed features and accessories, which is clean, well maintained and in a technically good condition.
        <br />
        2.&nbsp;&nbsp; &nbsp;Rent A Bike provides helmet, lock and lights for every rented bicycle.
        <br />
        3.&nbsp;&nbsp; &nbsp;In case of damage to the bicycle prior to the rental, A-Bike will make a report of the damage in the presence of the customer.
        <br />
        4.&nbsp;&nbsp; &nbsp;Rent A Bike will inspect the bicycle for any damage immediately after it is returned.
        <br />
        <br />

        <h4>Personal Data:</h4>
        <br />
        1.&nbsp;&nbsp; &nbsp;Personal data of the customer will be processed by Rent A Bike according to the Serbian Data Protection Act.
        <br />
        <br />


    </div>


