@model IEnumerable<RentABike.Models.BicycleType>
@{
    ViewBag.Title = "BicycleType";
    Layout = "~/Views/Shared/_Layout.cshtml";

    <script src="~/Scripts/JS/bicycleTypeIndex.js"></script>
    <style>
        .modal-backdrop {
            z-index: -1;
        }
        #editModalBody input {
            height: 50px;
           font-size: 24px;
           font-weight:500;
           border: 1px solid #e5e5e5
        }
        h2 {
            font-style: normal;
            font-weight: 500;
        }
    </style>
}
<div class="container" style="overflow-x: hidden; padding-top: 20px; padding-bottom: 20px;">

    <div class="container-fluid" style="background-color: #f5f5f0;">
        <div style="float: left;">
            <h2 style="padding-bottom: 15px;">Manage Bicycle Types</h2>
        </div>
        <div style="float: right; padding-top: 20px;">
            <button class="btn btn-primary" id="newBicycleTypeBTN">New Bicycle Type</button>
        </div>
    </div>
    <br />
    @using (Html.BeginForm("SaveNew", "BicycleTypes"))
    {
        <div id="saveNewType" style="display:flex; padding-left: 6px;">
            <div>
                <input style="height: 38px;" name="name" placeholder="Add New Type" />
            </div>
            <div>
                <button type="submit" style="margin-left: 5px;" class="btn btn-primary">Save</button>
            </div>
        </div>
        <input type="hidden" id="bicycleTypeId" name="bicycleTypeId">
        @Html.AntiForgeryToken()
    }
    <br />
    <div class="table-responsive">
        <table id="bicycleTypes" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th id="fontSize">Bicycle Types</th>
                    <th id="fontSize">Edit</th>
                    <th id="fontSize">Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var bicycleTypes in Model)
                {
                    <tr>
                        <td id="fontSize">@bicycleTypes.Name</td>
                        <td id="fontSize">
                            <a href="#editModal" class="edit" data-toggle="modal"><i class="btn btn-primary glyphicon glyphicon-pencil" data-toggle="tooltip" title="Edit"></i></a>
                            <input type="hidden" name="id" id="id" value="@bicycleTypes.Id">
                        </td>
                        <td id="fontSize">
                            <a href="#deleteModal" class="delete" data-toggle="modal"><i class="btn btn-danger glyphicon glyphicon-trash" data-toggle="tooltip" title="Delete"></i></a>
                            <input type="hidden" name="id" id="id" value="@bicycleTypes.Id">
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>

</div>
<!--Delete Modal-->
<div id="deleteModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("Delete", "BicycleTypes"))
            {
                <div class="modal-header">
                    <h4 class="modal-title">Delete Bicycle Type</h4>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">
                        &times;
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this record?</p>
                    <p class="text-warning"><small>This action cannot be undone!</small></p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel" />
                    <input type="submit" class="btn btn-danger" value="Delete" />
                    <input type="hidden" name="id" id="id" />
                </div>
            }
        </div>
    </div>
</div>
<!--End Delete Modal-->

<!--Edit Modal-->
<div id="editModal" class="modal fade">
<div class="modal-dialog">
    <div class="modal-content">
        @using (Html.BeginForm("Edit", "BicycleTypes"))
        {
            <div class="modal-header">
                <h4 class="modal-title">Edit Bicycle Type</h4>
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">
                    &times;
                </button>
            </div>
            <div id="editModalBody"class="modal-body">
                <input type="text" required="required" name="name" id="name" class="form-control" value=""/>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel" />
                <input type="submit" class="btn btn-primary" value="Save" />
                <input type="hidden" name="id" id="id" />
            </div>
        }
    </div>
</div>
</div>
